.select-kit-header > .selected-name > .date-section {
  color: #1e3f6b !important;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.select-kit-header > .selected-name > .top-date-string {
  color: #1e3f6b !important;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-transform: capitalize !important;
}

.select-kit-header > .d-icon-caret-down {
  font-size: 16px !important;
}
