<div class="custom-homepage-wrapper">
    <div class="wrap">
        <div class="home-banner">
            <div class="home-banner-content">
                <div class="home-banner-title">Discussion Forum</div>
                <div class="home-banner-desc">
                    Join the conversation about fun & interesting topics.
                </div>
            </div>
        </div>
    </div>
</div>